<% layout('layouts/boilerplate.ejs') %> 
<body>
    <h1 class="text-center">Hello Admin</h1>
    <h4 class="text-center">Here Is The List Of Users</h4>
    <div class="mt-3 text-center shadow-lg">
        <% for(let user of users) { %>
           <div class="card my-1">
              <div class="card-body">
                 <h2 class="card-title text-info "><%= user.username %>.cap</h2>
                 <form action="/changeRole/<%=user.id%>" method="post">

                  <fieldset>
                     <legend>Select role for this user</legend>
                 
                     <div>
                       <input type="radio" id="subAdmin" name="role" value="subAdmin"
                              checked>
                       <label for="subAdmin">SubAdmin</label>
                     </div>

                     <div>
                       <input type="radio" id="block" name="role" value="block" class="mr-5">
                       <label for="block" class="mx-3">Block</label>
                     </div>
                 
                  
                 </fieldset>
                 <button class="btn btn-success my-3 px-4">Done</button>
                 </form>
              </div>
           </div>
           <% } %>   
        </div>
</body>