<footer class="footer bg-dark mt-auto py-1">
    <div class="row">
       
        <div class="container text-warning text-center">
            <!-- <span><h3>YoursCamp 2022 : By - Rohit kumar </h3></span> -->
        </div>
        <div class="text-white text-center">Contact Here -- 
         <a href="mailto:rohitprime0@gmail.com" class="py-1 text-center ">rohitprime0@gamil.com</a>
        </div>
    </div>
       
</div>
</footer>