<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container-fluid ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse row " id="navbarNav">
        <div class="navbar-nav col-lg-4">
            <a class="nav-link text-warning " aria-current="page" href="/">Home</a>
            <a class="nav-link text-warning  " href="/Campground">All-Campground</a>
          <a class="nav-link text-warning " href="/Campground/add">Add-Campground</a>
        </div>
        <div class="col-sm-4">
          <div class=" ">
            <form  action="/Campground/find" method="POSt"  class=" d-flex shadow">
              <input type="text" placeholder="SEARCH CAMPGRONDS" name="query" id="input" class=" col-md-9 col-9 rounded">
              <button class="col-md-3 col-3  rounded btn btn-success"><span class="fs-1 ">&#128269;</span></button>
              </form>
      </div>
        </div>
        </form>
        <div class="navbar-nav col-lg-4 d-flex justify-content-end">
          <% if(!user) {%>  
          <a class="nav-link text-warning " href="/register">Register</a>
          <a class="nav-link text-warning" href="/login">Login</a>
          <% } else { %> 
            <% console.log(user) %> 
            <button class="bg bg-danger px-3 rounded-2 text-light my-1"><%=user.username %> </button>
          <a class="nav-link text-warning " href="/logout">Logout</a>
          <% } %> 
        </div>
      </div>
      
    </div>
  </nav>

 