<% layout('layouts/boilerplate.ejs') %> 
<body>
   <div class="row ">
      <h1 class="text-center text-uppercase font-italic text-light">login</h1>
      <div class="col-6 offset-3 rounded-3 shadow-lg " style="background-color: #1A4341;">
         <form action="/login" method="Post" class="form-group needs-validation text-dark" novalidate style="background-color: #1A4341;">
            <div class="my-1">
               <label for="title"class=" text-light">Name</label>
               <input type="text" name="username" id="title" class="form-control text-dark" required>
            </div>
            <div class="my-1">
   
               <label for="location" class="text-light" >Password</label>
               <input type="password" name="password" id="location" class="form-control" required>
            </div>
            <div class="text-center">
               <button class="btn btn-success my-3 px-4">submit</button>
            </div>
         </form>
      </div>
   </div>
</body>
