<% layout('layouts/boilerplate.ejs') %> 
<body>
    <div class="col-sm-6 offset-sm-3 " style="background-color: #1A4341;">
        <h1 class="text-center text-light">404 - Nothing found :(</h1>
        <img src="https://img.freepik.com/free-vector/404-error-with-person-looking-concept-illustration_114360-7912.jpg?w=996&t=st=1662155629~exp=1662156229~hmac=5d939a9e49902e232231e224bfd9f30eb24231dc6f175ca680e771af333f3a50" alt="" height="50%" width="100%">
    </div>

</body>