<% layout('layouts/boilerplate.ejs') %> 
<body>
         <h1 class="text-center text-dark">ALL THE CAMPS</h1>
         <div class="text-center"><a href="/Campground/add" class="btn btn-success ">add new campground</a></div>
            <div class="row">
                <% for(let camp of camps){ %>
                    <div class="card col-md-5 mx-md-4 col-xl-3 mx-xl-5 my-3  border text-light shadow-lg" style="background-color: #1A4341;">
                        <img src="<%= camp.img[0].url%>" class="card-img-top" alt="error">
                        <div class="card-body" >
                          <h5 class="card-title"><%= camp.title%> </h5>
                          <h5 class="card-title text-warning"><%= camp.location%> </h5>
                          <p class="card-text">Being reliable and able to build good relationships with children are two essential traits of a Camp Counselor. You also need to have knowledge around outdoor 
                            activities, like hiking, canoeing or caving. If you’re patient, energetic but strict when needed, we’d like to meet you.</p>
                          <a href="/Campground/<%= camp.id %> " class="btn btn-primary">more details</a>
                        </div>
                      </div>
               <% } %> 
            </div>
    
</body>